
/build/
/bin/
/obj/

.vscode/
.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake

*.log

*~
*.swp
*.bak

*.bin
*.tar.gz
*.zip

text.exe

.DS_Store
Thumbs.db



main.exe
a.out
